
!/.config.py
!.idea/
!/__pycache__/
!.git/!/venv/
!/venv/

!/venv/include/

!/venv/Lib/

!/venv/Scripts/

!/venv/.gitignore

!/venv/pyvenv.cfg
!/migration/

!/migration/versions/

!/migration/env.py

!/migration/README

!/migration/script.py.mako

!/git

!.env